[submodule "extlib/libsais"]
	path = extlib/libsais
	url = https://github.com/IlyaGrebnov/libsais
[submodule "extlib/bit_vector"]
	path = extlib/bit_vector
	url = https://github.com/pasta-toolbox/bit_vector
[submodule "extlib/tlx"]
	path = extlib/tlx
	url = https://github.com/tlx/tlx
[submodule "extlib/robin-hood-hashing"]
	path = extlib/robin-hood-hashing
	url = https://github.com/martinus/robin-hood-hashing
[submodule "extlib/growt"]
	path = extlib/growt
	url = git@github.com:TooBiased/growt.git
[submodule "extlib/parallel-hashmap"]
	path = extlib/parallel-hashmap
	url = git@github.com:greg7mdp/parallel-hashmap.git
